volumes:
  smnrp_data:
  log_data:
  auth_data:
services:
  ws:
    build: .
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - smnrp_data:/etc/letsencrypt
      - log_data:/var/log
    env_file: .env
  echo:
    platform: linux/amd64
    image: kennethreitz/httpbin
  auth:
    build:
      context: auth
    hostname: auth
    restart: "unless-stopped"
    volumes:
      #   - auth_config:/config
      - auth_data:/data
    environment:
      TZ: "Europe/Zurich"
    depends_on:
      - mail
  mail:
    image: axllent/mailpit:v1.27.5
    hostname: mail
    restart: unless-stopped
    ports:
      - 8025:8025
